DATABASE_TYPE=postgres
DATABASE_USER=<db-user>
DATABASE_PASSWORD=<db-password>
DATABASE_PORT=<db-port>
DATABASE_HOST=<db-host>
DATABASE_NAME=<db-name>
JWT_SECRET=<jwt-secret>
JWT_ACCESS_EXPIRATION_TIME=<access-token-ttl-seconds>
JWT_REFRESH_EXPIRATION_TIME=<refresh-token-ttl-seconds>
